html.dark-bg .slide-background {
  opacity: 0.1 !important;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0;
}
.row {
    display: table-row;
}
.col-33 {
    display: table-cell;
    width: 33%;
    padding: 30px;
    text-align: center;
}

.round-icon {
  border-radius: 50%;
  width: 100px;
}

.round-icon-hero {
  border-radius: 50%;
  width: 150px;
}

.responsive-img {
    max-width: 33% !important;
    height: auto;
    display: block;
}
